.Markets {
  text-align: center;
  display: block;
  margin: 0 auto;
  background-color: #242222;
  height: 100%;
  font-family: 'Consolas';
}

.Markets-header {
  text-align: left;
  font-size: 1.1em;
  color: #e8ebea;
  border-radius: .2em;
}

.body {
  margin: 0 auto;
  padding: 0;
  color: #e8ebea;
}

a {
  text-decoration: none;
}

th {
  font-family: 'Consolas';
  font-size: 1.5em;
}

table {
  background-color: rgb(34, 40, 44);
  border-radius: 3px;
  padding: 1em;
  display: block;
  text-align: left;
}

td {
  font-size: 1.2em;
  padding: .5em;
}

span {
  padding: .5em;
}

tr {
  padding: .5em;
}

tr>td>a {
  padding: .5em;
  display: inline;
  color: #e8ebea;
}

ul,
li {
  padding: .3em;
  list-style-type: square;
}