.News {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-family: 'Consolas';
}
.News-header{
  text-align: left;
  font-size: 1.3em;
  color: #e8ebea;
  border-radius: .2em;
}
.body{
  margin: 0 auto;
  padding: 0;
  color: #e8ebea;
}
.News-table{
  padding: 5em;
  font-size: .9em;
}
a{
  text-decoration: none;
}
th{
  font-family: 'Consolas';
  font-size: 1em;
}
table{
  background-color: rgb(34, 40, 44);
  border-radius: 3px;
  padding: .5em;
  display: block;
  text-align: left;
}

tr > td > a{
  padding:.5em;
  display: inline;
  color: #e8ebea;
}
ul, li{
  padding: .3em;
  list-style-type: square;
}