.App {
  text-align: center;
  display: block;
  margin: 0 auto;
  background-color: black;
  height: 100em;
  padding: 5em;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #363434;
  border: 1px solid #b8ddd6;
  padding: 1em;
  text-align: left;
  font-size: 1.5em;
  color: #09d3ac;
}

.App-link {
  color: #09d3ac;
}

.App-table {
  background-color: black;
  width: 680px;
  padding:1em;
  display: block;
  margin: 0 auto;
  text-align: left;
}

.App-table td{
  padding:1em;
}