.App {
  text-align: center;
  display: block;
  margin: 0 auto;
  background-color: #242222;
  height: 100%;
  padding: 3em;
  font-family: 'Helvetica';
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #3a3939;
  padding: 1.2em;
  text-align: left;
  font-size: 1.3em;
  color: #e8ebea;
  border-radius: .2em;
  display: inline-block;
}

th {
  font-family: 'Consolas';
  font-size: 1.5em;
}

.App-link {
  color: #09d3ac;
}

.App-table {
  background-color: rgb(34, 40, 44);
  border-radius: 3px;
  width: 680px;
  padding:.3em;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.App-table td{
  padding:.3em;
  display: inline-block;
  font-size: 1em;
}

.App-table ul, li{
  padding: .3em;
  display: block;
  list-style-type: square;
  text-align: left;
}

